VITE_INVITATION_DATE=

VITE_CURCH_NAME=
VITE_CURCH_LOCATION= 
VITE_CURCH_HOUR=
VITE_CURCH_URL_MAPS=

VITE_RECEPTION_NAME=
VITE_RECEPTION_LOCATION=
VITE_RECEPTION_HOUR=
VITE_RECEPTION_URL_MAPS=

VITE_BACKEND_URL=http://localhost:4000