.message {

    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5rem;
    margin-top: -5rem;

    &__line {
        @include line(10rem, false);
        background-color: $color-secondary-500;
        margin: 0 auto;
        margin-bottom: 4rem;
        width: 3px;
    }

    p {
        margin: 2rem 0;
    }

    &__container {
        width: 80%;
        margin: 0 auto;
    }

    &__main {
        font-weight: 300;
        font-family: $font-secondary;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    &__text {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.01em;
        margin-bottom: 2rem;
    }

    &__divider {
        transform: rotate(5deg);
        width: 40%;
        margin: 0 auto;
        margin-top: 4rem;
    }

    &__table {
        width: 70%;
        margin: auto;
        mix-blend-mode: multiply;
        filter: brightness(1.2);
        object-fit: cover;
    }

}