.itinerary {
    padding: 6rem 0;
    padding-bottom: 10rem;

    &__container {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 5rem 2rem;
        padding-bottom: 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
        border: 1px solid $color-primary-400;
        border-top-left-radius: 6rem;
        border-bottom-right-radius: 6rem;
    }

    &__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__sub {
        font-family: $font-secondary;
        font-weight: 600;
        font-size: 2.2rem;
        color: $color-secondary-500;
        letter-spacing: 4px;
        line-height: 1.1;
        text-transform: uppercase;
    }

    &__title {
        font-family: $font-halimunde;
        font-size: 4.8rem;
        color: rgba($color-primary-700, 0.7);
        font-weight: 300;
        letter-spacing: 3px;
        margin-top: 0.5rem;
    }

    &__timeline {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 80px 1fr;
        align-items: center;
        // padding: 2rem 0;
        height: 8rem;
        position: relative;
        margin-left: 3rem;
    }

    &__title-col {
        text-align: right;
    }

    &__item-title {
        font-family: $font-secondary;
        font-size: 1.6rem;
        color: $color-neutral-700;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 1px;
    }

    &__marker-col {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 1px;
            background-color: rgba($color-secondary-500, 0.4);
            transform: translateX(-50%);
            z-index: 1;
        }

        .itinerary__marker-heart {
            color: $color-neutral-400;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            padding: 0.8rem;

            svg {
                width: 2.6rem;
                height: 2.6rem;
                filter: drop-shadow(0 0 2px rgba($color-secondary-700, 0.3));
            }
        }
    }

    &__item:first-child &__marker-col::before {
        top: 50%;
    }

    &__item:last-child &__marker-col::before {
        bottom: 50%;
    }

    &__info-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__icon-box {
        color: $color-secondary-500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.4rem;

        svg {
            width: 3rem;
            height: 3rem;
            stroke-width: 1.5;
        }
    }

    &__time {
        font-family: $font-tertiary;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $color-neutral-500;
        letter-spacing: 1px;
        font-weight: 500;
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: -4rem;

        img {
            box-shadow: 0 0 10px rgba($color-neutral-300, .3);
            border-radius: 50%;
            width: 10rem;
            height: auto;
        }
    }
}