.dress-code {
    margin-top: -2rem;
    padding: 5rem 0 4rem;
    background-color: $color-neutral-50;
    position: relative;
    text-align: center;

    &__tear {
        position: absolute;
        top: -55px;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 5;
        pointer-events: none;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }

        &-fiber {
            fill: rgba($color-neutral-50, 0.4);
        }

        &-solid {
            fill: $color-neutral-50;
            filter: drop-shadow(0px -4px 3px rgba(0, 0, 0, 0.06));
        }
    }

    &__wave {
        display: block;
        margin-bottom: -2rem;
    }

    &__header {
        margin-bottom: 3.2rem;
    }

    &__title {
        font-size: 3.2rem;
        color: $color-neutral-700;
        letter-spacing: 4px;
        line-height: 1.1;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    &__item-title {
        font-family: $font-halimunde;
        color: $color-primary-400;
        font-size: 2.7rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    &__item-text {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $color-secondary-500;
    }

    &__icon {
        margin: 9rem auto;
        width: 100%;
        max-width: 30rem;

        img {
            opacity: .6;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 25rem;
        }
    }
}