.countdown {

    background-color: $color-bg;
    padding-top: 8rem;

    &__image {
        width: 100%;
        margin: 0 auto;

        img {
            opacity: .9;
            margin-top: -3rem;
            object-fit: cover;
            object-position: top;
        }
    }

}